header{
    grid-area: header;
    background-color:#9EB23B;
    background-image: url(../images/siluetaHojas.png);
    background-repeat: repeat;
    background-size: contain;
    font-family: 'Playfair Display',serif;
    @include importan-medidas;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 5s linear both;
	animation: tracking-in-expand 5s linear both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
    letter-spacing: -0.5em;
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    opacity: 1;
    }
}  
.logo img{
    border-radius: 2cm;
    border: double green;
    height: 5em;
    margin-top: 10px;
}
.barraBusqueda{
    .busqueda1{
        background-color:transparent;
        }
    }
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.flex-itemNavegacion nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul, ol {
    list-style:none;
}
.nav li a {
    color:#FAF3E3;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    &:hover {
        background-color: green;
    }
}
.nav {
    li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }
    li:hover > ul {
        display:block;
    }
    li ul li {
    position:relative;
        ul {
            right:-140px;
            top:0px;
        }
    }
}
